@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #5154FF;
  --primary: #ff6b00;
  --black: #000000;
  --white: #ffffff;
  --white-overlay: rgba(255, 255, 255, 0.55);
}

html.dark {
  --background: #171717;
  --foreground: #dddddd;
}

@theme {
  --font-jetBrainsMono: 'JetBrains Mono', monospace;
  --font-spaceGrotesk: 'Space Grotesk', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-white-overlay: var(--white-overlay);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    --background: #171717;
    --foreground: #dddddd;
  }
}

body {
  background: linear-gradient(
    135deg,
    var(--background) 0%,
    color-mix(in srgb, var(--background) 85%, var(--primary)) 100%
  );
  background-attachment: fixed;
  min-height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}